<header>
    <h1 class="header-title">
        Green Lean Electrics
    </h1>
    <ul class="header-navigation">
        <li class="header-navigation-item" >
            <a class="header-link" routerLink="/login" routerLinkActive="active">log in</a>
        </li>
        <li class="header-navigation-item" >
            <a class="header-link" routerLink="/auth/signup" routerLinkActive="active">sign in</a>
        </li>
        <li>
            <a class="header-link" routerLink="/default" routerLinkActive="active">home</a>
        </li>
    </ul>
</header>

<div class="page">

    <div class="presentation">
        <h3>Welcome to Green Lean Electrics !</h3>
        <p> Ici c'est Nancy</p>
    </div>
</div>